/node_modules/
.env
.vercel
.env*.local
/public/
/tsconfig.tsbuildinfo
/why-is-vercel-so-bad-why-can-i-not-do-custom-build-of-server-functions-why-does-vercel-node-package-not-rewrite-ts-extension.js
